<!doctype html>
<html>
  <%= partial "partials/head" %>

  <body class="<%= page_classes %>">
    <%= partial "partials/site-header" %>

    <div class="content-wrap">
      <%= yield %>
    </div>

    <%= partial "partials/site-footer" %>
  </body>
</html>
