<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">
    
    <title><%= current_page.data.title + " | Voxi" || "Voxi | Helping dreamers achieve their goals" %></title>
    
    <%= stylesheet_link_tag "screen" %>
  </head>
  
  <body class="<%= page_classes %>">
    <header id="primary-header" class="opaque-background">
      <div class="row">
        <h1 class="branding"><a href="/" class="logo">VOXi</a> <span class="tagline">Live more life</span></h1>
      </div>
    </header>

    <%= yield %>

    <footer class="opaque-background  content-section">
      <div class="row">
        <div class="full-column">
          <p class="small-print">Copyright &copy; 2013, VOXi LLC | <a href="#">Privacy Policy</a></p>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag  "all" %>
  </body>
</html>