<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name='language' content='en'>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:site_name" content="VOXi">
<% if current_page.data.title %>
  <meta property="og:title" content="<%= current_page.data.title %>">
  <meta name="twitter:title" content ="<%= current_page.data.title %>">
<% else %>
  <meta property="og:title" content="VOXi">
  <meta name="twitter:title" content ="VOXi">
<% end %>
<% if current_page.data.meta_thumbnails %>
  <% current_page.data.meta_thumbnails.each do |img| %>
  <meta property="og:image" content="<%= "http://voxi.co#{image_path img}" %>">
  <% end %>
<% end %>
  <meta name="twitter:site" content="@MyVOXi">

  <title><%= if current_page.data.title then "#{current_page.data.title} | Voxi" else "Voxi | Helping dreamers achieve their goals" end %></title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "screen" %>
</head>
